deploymentMode: SingleBinary

### Loki 설정
loki:
  auth_enabled: false
  podSecurityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
    runAsNonRoot: false

  commonConfig:
    replication_factor: 1

  ### Storage 설정
  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules

  ### Loki 내부 schema 설정 (object_store = filesystem)
  schemaConfig:
    configs:
      - from: "2025-12-10"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  pattern_ingester:
    enabled: true

  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: csi-storageclass

resultsCache:
  enabled: false

chunksCache:
  enabled: false
  ### Persistent Volume 설정
  persistence:
    enabled: true
    storageSize: 10Gi
    storageClass: csi-storageclass ### NHN Cloud NKS 스토리지 클래스 지정

write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0