# NGINX Ingress Controller Helm Values
# https://kubernetes.github.io/ingress-nginx/

controller:
  resources:
    #  limits:
    #    cpu: 100m
    #    memory: 90Mi
    requests:
      cpu: 100m
      memory: 90Mi

  # Service 설정
  service:
    type: NodePort

  # Ingress Class 설정
  ingressClassResource:
    default: true

  # 메트릭 수집 (Prometheus)
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: ingress-nginx
      additionalLabels:
        release: prometheus

  # 로그 설정
  config:
    log-format-upstream: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] [$proxy_alternative_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id'
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"

# Default Backend (선택사항)
defaultBackend:
  enabled: true
  replicaCount: 1
  resources: {}
  # limits:
  #   cpu: 10m
  #   memory: 20Mi
  # requests:
  #   cpu: 10m
  #   memory: 20Mi
