{{- range .Values.apps }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
{{- range .sources }}
    - repoURL: {{ .repoURL }}
      {{- if .targetRevision }}
      targetRevision: {{ .targetRevision }}
      {{- end }}
      {{- if .path }}
      path: {{ .path }}
      {{- end }}
      {{- if .ref }}
      ref: {{ .ref }}
      {{- end }}
      {{- if .chart }}
      chart: {{ .chart }}
      {{- end }}
      {{- if .helm }}
      helm:
        {{- if .helm.releaseName }}
        releaseName: {{ .helm.releaseName }}
        {{- end }}
        {{- if .helm.valueFiles }}
        valueFiles:
        {{- range .helm.valueFiles }}
          - {{ . }}
        {{- end }}
        {{- end }}
      {{- end }}
{{- end }}
  destination:
    server: {{ .destination.server }}
    namespace: {{ .destination.namespace }}
  {{- if .ignoreDifferences }}
  ignoreDifferences:
  {{- range .ignoreDifferences }}
    - group: {{ .group }}
      kind: {{ .kind }}
      {{- if .jsonPointers }}
      jsonPointers:
      {{- range .jsonPointers }}
        - {{ . }}
      {{- end }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- if .syncPolicy }}
  syncPolicy:
    {{- if .syncPolicy.automated }}
    automated:
      {{- if .syncPolicy.automated.prune }}
      prune: {{ .syncPolicy.automated.prune }}
      {{- end }}
      {{- if .syncPolicy.automated.selfHeal }}
      selfHeal: {{ .syncPolicy.automated.selfHeal }}
      {{- end }}
    {{- end }}
    {{- if .syncPolicy.syncOptions }}
    syncOptions:
    {{- range .syncPolicy.syncOptions }}
      - {{ . }}
    {{- end }}
    {{- end }}
  {{- end }}
---
{{- end }}